@model IEnumerable<RestaurentBookingWebsite.DbModels.Booking>

@{
    ViewData["Title"] = "MyBookings";
}

<style>
    body {
        background: #fafafa url(https://s.tmimgcdn.com/scr/1200x627/95900/food-logo-template_95902-original.jpg);
        */ color: #444;
        font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
        text-shadow: 0 1px 0 #fff;
        background-size: cover;
        height: 100vh; 
        width: 100vw; 
         */ position: relative;
    }
    table {
        width: 100%; 
        max-width: 1000px; 
        margin: 30px auto;
    }

   
    th {
        background: linear-gradient(#777, #444);
        border-left: 1px solid #555;
        border-right: 1px solid #777;
        border-top: 1px solid #555;
        border-bottom: 1px solid #333;
        box-shadow: inset 0 1px 0 #999;
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        text-shadow: 0 1px 0 #000;
    }

   
   
    tr {
        background: #fafafa;
    }

        tr:nth-child(odd) td {
            background: #f1f1f1; 
        }

    
    a {
        color: #0000cd;
        text-decoration: none;
        font-weight: bold;
    }

        a:hover {
            text-decoration: underline;
        }

    
    td:last-child {
        text-align: center; 
    }

   
    tr:last-of-type td {
        box-shadow: inset 0 -1px 0 #fff;
    }

        tr:last-of-type td:first-child {
            box-shadow: inset 1px -1px 0 #fff;
        }

        tr:last-of-type td:last-child {
            box-shadow: inset -1px -1px 0 #fff;
        }

  
</style>


<div class=" container">
<div class="wrapper animated bounce">
<h3>MY BOOKINGS</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlotTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookingId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlotTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @if (item.Status == "booked")
                {
                    @if ((item.BookingDate - DateTime.Now).TotalHours >= 24)
                    {
                        <a asp-action="CancelBooking" method="post" asp-route-id="@item.BookingId">Cancel</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
@Html.ActionLink("Back to Customer Dashboard", "CustDashboard", new { id = ViewBag.CustomerId })
</div>
</div>
